ul {
  margin: 0;
  li.actions {
    text-align: right;
  }
  li.ticket {
    span {
      margin-left: 10px;
    }
  }
  li.entry {
    margin-left:10px;
  }
  li.org {
    cursor: pointer;
  }
  li {
    width: 100%;
    margin-bottom: 20px;
    span.field {
      width: 200px;
      input.time {
        width: 50px;
      }
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
}
div.org_results {
    margin-left: 130px;
}

table.entries {
  border: 1px solid black;
  padding: 8px;
}
span.loading {
  display: none;
}